@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('../../public/NicoMoji.ttf') format('truetype');
}


.custom-font {
  font-family: 'CustomFont', sans-serif; 
}

.border-custom{
  border-top: 1px;
  border-color: white;
}
.banner {
  height: 332px;
  width: 1087px;
  background: linear-gradient(270deg, rgba(0, 113, 130, 0.8) 82.4%, rgba(3, 238, 210, 0.8) 100%);
  margin-left: 300px;
}
.margin-common{
  margin-left: 300px;
}
.width{
  width: 1087px;
}
.button{
  width: 210px;
height: 50px;

border-radius: 25px;
border: 1px  solid black;
color:white
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.common-btn{
  width: 146px;
height: 50px;
border-radius: 25px;
background-color: #3B3B3B80;
color: white;
}
.img-card{
  width: 190px;
height: 198px;
border-radius: 35px;
opacity: 0.7px;

}
.black-gredient{
  background: linear-gradient(to right, black 0%, transparent 100%);
}
.margin{
  margin-left: -100px;
}
.custom-button {
  background-color: rgba(9, 9, 9, 0.6);
  width: 180px;
height: 50px;
border-radius: 25px;
color:white;
}

.search{
width: 332px;
height: 50px;
border-radius: 25px;
}
.signup-size{
width: 567px;
height: 718px;
border-radius: 10px;

}


@media (max-width: 768px) {

  .banner {
    height: 332px;
    width: auto;
    background: linear-gradient(270deg, rgba(0, 113, 130, 0.8) 82.4%, rgba(3, 238, 210, 0.8) 100%);
    margin-left: 10px;
    margin-right: 10px;
  }
    .margin-common{
      margin-left: 10px;
      margin-right: 10px;
    }
    .button{
      width: 130px;
    height: 50px;
    
    border-radius: 25px;
    border: 1px  solid black;
    color:white
    }
    .common-btn{
      width: 70px;
    height: 30px;
    border-radius: 25px;
    background-color: #3B3B3B80;
    color: white;
    }
    .width{
      width: auto;
    }

    .custom-button {
      background-color: rgba(9, 9, 9, 0.6);
      width: 100px;
    height: 24px;
    border-radius: 15px;
    color:white;
    }
}
